header, footer {
    height: 40px;
}

main {
    margin-top: 150px;
    display: flex;
    flex-direction: column;
    padding: 0 var(--spacing-n);
    align-items: center;
}

.content {
    display: flex;
    flex: 1 1 auto;
    max-width: var(--content-max-width);
}
